footer {
	position:fixed;
	text-align: right;
	color: white;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:black;
}

body {
	background-image:url("../img/stolen.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
	text-align: center;
	color: white;
}

h1.home-h1 {
	line-height: 200px;
	height: 125px;
}

h1.about-h1 {
	line-height: 200px;
	height: 125px;
}
