h1 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

footer {
	position:fixed;
	text-align: right;
	color: white;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:black;
}

body {
	background-image:url("../img/stolen.jpg");
}