footer {
	position:fixed;
	text-align: right;
	color: gray;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:black;
}

body {
	background-image:url("../img/stolen.jpg");
    background-size: 100%;
    /*font-size: 36px;*/
    /*background-repeat: no-repeat;*/
    font-family: Verdana, Geneva, Helvetica;
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
}

h1.home-h1 {
	/*font-size: 36px;*/
	line-height: 200px;
	height: 125px;
}

h1.about-h1 {
	
	line-height: 200px;
	height: 125px;
}

.active{
	background: black;
	color: white;
}
