footer {
	position:fixed;
	text-align: right;
	color: gray;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:black;
}

body {
	background-image: url("../img/stolen.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    font-family: Verdana, Geneva, Helvetica;
	
	color: white;
	text-shadow: 1px 1px black;
}

#content{

    padding-top: 100px;
	font-size: 12px;
	text-align: center;
}

#notification{
	display: none;
	padding-top: 100px;
	/*height: 100px;*/
	/*background-color: white;*/
	text-align: center;
	vertical-align: middle;
	/*position: relative;*/
}

.home-menu{
	font-size: 125%;
}

h1.home-h1 {
	font-size: 36px;
	line-height: 200px;
	height: 125px;
}

h1.about-h1 {
	line-height: 200px;
	height: 125px;
}

.active{
	background: black;
	color: white;
}

.home-btn {
	/*color: white;*/
	opacity: 0.5;
	/*color: black;*/
	white-space: normal;
	position: relative;
	border-radius: 4px;
	font-family: Arvo;
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 6px;
	margin-left: 6px;
	/*background: rgba(245, 245, 245);*/
	background: rgba(0, 0, 0,0.5);
	vertical-align: middle;
}

.movie-unit{
	text-align: right;
	font-size: 12px;
	background: black;
	text-shadow: 1px 1px black;
}