<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail plain" title="some message">
    <div class="movie-unit">
      <a href="#movies/<%= _id %>" class="plain">
        <video class="img-responsive" controls poster="<%= poster %>" >
            <source src="<%= trailer %>" type="video/mp4"/>
            <!-- fallback -->
            Danger zone!
        </video>
      </a>

        <div class = "col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <a href="#movies/<%= _id %>/reviews" class="plain">

            <img src="../img/rotten.gif" name="swatch" height = "42" width = "42">
          </a>
            <p class = "swatchReview">0%</p>
            <p class = "swatchReview"> Review </p>

        </div>
        <a href="#movies/<%= _id %>" class="plain">
          <div class="movie-desc">
            <div class="wrapper">Title</b>:<%= title %> </div>
            <div class="wrapper">Directed by</b>:<%= director %> </div>
            <div class="wrapper">Starring</b>:<%= starring %> </div>
            <div class="wrapper">Genre</b>:<%= genre %> </div>
          </div>
        </a>
    </div>
  </div>
</div>